# Byte-compiled / optimized / DLL files
*__pycache__/
*.DS_Store

# Environments
.env
.venv
.vscode
experiments/
notebooks/

# Outputs
data/
*.yaml
*.html
*ipynb
*ipynb_checkpoints
*.log
*.svg

wandb
*.csv